<section class="task-details">
    <h3>משימות {{today | date:'dd/MM/yyyy'}}</h3>
    <form [formGroup]="taskForm">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <mat-checkbox formControlName="checkTask" class="checkbox"></mat-checkbox>
                    <p style="flex: 90; margin: 0.2em 0 0;">{{ taskForm.value.taskTitle }}</p>
                </mat-card-title>
                <mat-card-actions>
                    <mat-icon (click)="openDialog()" style="margin-left: 0.5em;">edit</mat-icon>
                    <mat-icon (click)="deletedTask()">delete</mat-icon>
                </mat-card-actions>
            </mat-card-header>
            <mat-card-content>
                <p style="margin-right: 9px;">הערה: <em>{{ taskForm.value.notes }}</em></p>
            </mat-card-content>
        </mat-card>
    </form>
</section>