<form [formGroup]="taskForm">
    <mat-form-field class="task">
        <mat-label>משימה</mat-label>
        <input formControlName="taskTitle" matInput #task maxlength="256" placeholder="הכנס משימה">
        <mat-hint align="start">*חובה </mat-hint>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
</form>